.Form{
    display:block;
    align-self: end;
    z-index: 2;
    grid-column: 2 / 3;
    grid-row: 2;
    margin: 20px auto;
    background: none;
    border: 2px solid #fff;
    border-radius: 5%;
    text-align: center;
    padding: 5px;
    color: #fff;
}
.Form label{
    margin-top: 20px;
}
.Form:focus{
    outline: none;
    border: 3px solid #fff;
    border-radius: 10px;
}
.FormSubmit{
    background: #282c34;
    font-family: Source Code Pro;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    height: 50px;
    width: 100px;
    display: block;
    margin: 0 auto 20px auto;
}
.FormSubmit:hover{
    background-color: #fff;
    transition: .3s;
    font-size: 1.2rem;
    color: black;
}