.Speechy{
    text-align: center;
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 80px 40px 40px;
    justify-items: center;
    color:black;
    width: 300px;
    height: 230px;
    margin: auto;
    margin-bottom: 20px;
}
.Speechy  p {
    color: #fff;
    align-self: start;
    padding: 10px;
    margin: 0px;
}
.Speechy h1 {
    margin: auto;
    padding-top: 10px;
}
.SpeechWin{
    color: salmon;
}
.SpeechWin h1{
    color: salmon;
}
.SpeechWin p{
    color: salmon;
    
}
.SpeechLose{
    color: red;
}

@media only screen and (max-width: 600px){
    .Speechy{
        
    }
}